# Go dependencies
vendor/

# Env file
.*env

# Helm deploy
*.tgz

# Local Postgres database
run-data/

# GCP Postgres Service Account credentials
*.service-account.json

# Frontend libraries
static/node_modules
